* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

#loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 1;
  overflow: visible;
  background: #000 url("./source.gif") no-repeat center center;
}

.site-header {
  border-bottom: .5px solid black;
  position: fixed;
  width: 100%;
  background: #000000;
  opacity: .8;
}

.site-header__wrapper {
  width: 1320px;
  height: 65px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-header__heading {
  width: 150px;
  height: 50px;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 3px;
}

.site-header__heading img {
  width: 100%;
  height: 100%;
}

.site-nav__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1000px;
}

.site-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav__item {
  display: block;
  padding: 12px 15px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

.site-nav__item a {
  color: #FFF;
  text-decoration: none;
  position: relative;
  z-index: 0;
  cursor: pointer;
  height: 50px;
}

.site-nav__item a:before {
  position: absolute;
  width: 100%;
  height: 2px;
  content: '';
  background: #FFF;
  opacity: 0.3;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  top: 0;
}

.site-nav__item a:after {
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  content: '';
  background: #FFF;
  opacity: 0.3;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  bottom: 0;
}

.site-nav__item a:hover:before {
  height: 100%;
}

.site-nav__item a:hover:after {
  height: 100%;
}

.social-nav {
  width: 120px;
  height: 100%;
}

.social-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sample {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content {
  width: 1158px;
  height: 900px;
  margin: auto;
}

.content__heading {
  font-family: myFirstFont;
  font-size: 75px;
  font-weight: normal;
  line-height: 1;
  color: black;
  text-shadow: 2px 2px black;
}

.content__description {
  position: absolute;
  bottom: 25%;
  font-size: 50px;
  font-size: "eurostile", sans-serif;
  font-family: Eurostyle;
  -webkit-animation-name: fadein;
          animation-name: fadein;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

.content-wrapper {
  background-image: url("/img/69805790_2586481701372538_8774886406435635200_o.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* Set a specific height */
  min-height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
}

.site-about {
  height: auto;
  background-color: #F5F5F5;
}

.site-about__content {
  width: 1140px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 90px;
  padding-bottom: 70px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.site-about__heading {
  font-size: 42px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  color: #666;
}

.site-about__span {
  margin: 0 0 30px 0;
  font-weight: 300;
  font-size: 18px;
  display: block;
  font-family: 'Poppins', sans-serif;
  color: #666;
}

.site-about__description {
  font-family: 'Poppins', sans-serif;
  line-height: 1.8;
  font-size: 14px;
  color: #666;
  font-weight: 400;
  text-align: left;
  margin-bottom: 10px;
}

.site-about__wrapper {
  width: 646px;
}

.site-about__figure {
  width: 465.656px;
  height: 349.234px;
}

.site-about__figure img {
  width: 100%;
  height: 100%;
}

.site-skills {
  width: 646px;
}

.site-skills__list {
  list-style-type: none;
  width: 566px;
  height: 189px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.site-skills__item {
  height: 25px;
  width: 567px;
  background-color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  border-radius: 5px;
}

.site-skills__heading {
  font-size: 30px;
  margin-bottom: 25px;
  font-family: 'Poppins', sans-serif;
  color: #666;
  padding-top: 50px;
}

.html {
  height: 100%;
  width: 98%;
  border-radius: 5px;
  background-color: gray;
}

.html__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  list-style-type: none;
  padding: 0 10px 0 10px;
}

.site-experience {
  width: 465px;
}

.site-experience__heading {
  font-size: 30px;
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
  color: #666;
  padding-top: 50px;
}

.site-experience__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 189px;
}

.site-experience__item {
  width: 220px;
  height: 80px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 5px 6px #888888;
          box-shadow: 5px 6px #888888;
}

.site-experience__content {
  text-align: center;
}

.site-experience__title {
  font-weight: 500;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  color: #333;
}

.site-experience__description {
  font-size: 14px;
  color: #656565;
  font-family: 'Poppins', sans-serif;
}

.site-experience__description date {
  margin-left: 10px;
}

@font-face {
  font-family: myFirstFont;
  src: url(./PAINP___.TTF);
}

#logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: fill 1.5s linear forwards 3.3s;
          animation: fill 1.5s linear forwards 3.3s;
  -webkit-transform-origin: left;
          transform-origin: left;
}

#logo path:nth-child(1) {
  stroke-dasharray: 561.2144165039062;
  stroke-dashoffset: 561.2144165039062;
  -webkit-animation: line-anim 1s ease forwards;
          animation: line-anim 1s ease forwards;
}

#logo path:nth-child(2) {
  stroke-dasharray: 701.0448608398438;
  stroke-dashoffset: 701.0448608398438;
  -webkit-animation: line-anim 1s ease forwards 0.3s;
          animation: line-anim 1s ease forwards 0.3s;
}

#logo path:nth-child(3) {
  stroke-dasharray: 681.786865234375;
  stroke-dashoffset: 681.786865234375;
  -webkit-animation: line-anim 1s ease forwards 0.6s;
          animation: line-anim 1s ease forwards 0.6s;
}

#logo path:nth-child(4) {
  stroke-dasharray: 742.5736083984375;
  stroke-dashoffset: 742.5736083984375;
  -webkit-animation: line-anim 1s ease forwards 0.9s;
          animation: line-anim 1s ease forwards 0.9s;
}

#logo path:nth-child(5) {
  stroke-dasharray: 785.2862548828125;
  stroke-dashoffset: 785.2862548828125;
  -webkit-animation: line-anim 1s ease forwards 1.2s;
          animation: line-anim 1s ease forwards 1.2s;
}

#logo path:nth-child(6) {
  stroke-dasharray: 564.9063110351562;
  stroke-dashoffset: 564.9063110351562;
  -webkit-animation: line-anim 1s ease forwards 1.5s;
          animation: line-anim 1s ease forwards 1.5s;
}

#logo path:nth-child(7) {
  stroke-dasharray: 742.5741577148438;
  stroke-dashoffset: 742.5741577148438;
  -webkit-animation: line-anim 1s ease forwards 1.8s;
          animation: line-anim 1s ease forwards 1.8s;
}

#logo path:nth-child(8) {
  stroke-dasharray: 752.1097412109375;
  stroke-dashoffset: 752.1097412109375;
  -webkit-animation: line-anim 1s ease forwards 2.1s;
          animation: line-anim 1s ease forwards 2.1s;
}

#logo path:nth-child(9) {
  stroke-dasharray: 713.1149291992188;
  stroke-dashoffset: 713.1149291992188;
  -webkit-animation: line-anim 1s ease forwards 2.4s;
          animation: line-anim 1s ease forwards 2.4s;
}

#logo path:nth-child(10) {
  stroke-dasharray: 462.8597412109375;
  stroke-dashoffset: 462.8597412109375;
  -webkit-animation: line-anim 1s ease forwards 2.7s;
          animation: line-anim 1s ease forwards 2.7s;
}

#logo path:nth-child(11) {
  stroke-dasharray: 713.1153564453125;
  stroke-dashoffset: 713.1153564453125;
  -webkit-animation: line-anim 1s ease forwards 3s;
          animation: line-anim 1s ease forwards 3s;
}

#logo path:nth-child(12) {
  stroke-dasharray: 725.756591796875;
  stroke-dashoffset: 725.756591796875;
  -webkit-animation: line-anim 1s ease forwards 3.3s;
          animation: line-anim 1s ease forwards 3.3s;
}

.hamburger {
  position: absolute;
  cursor: pointer;
  right: 5%;
  top: 50%;
  -webkit-transform: translate(-5%, -50%);
          transform: translate(-5%, -50%);
  z-index: 2;
  color: wheat;
  display: block;
  display: none;
}

@-webkit-keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: #000000;
    opacity: .8;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: #000000;
    opacity: .8;
  }
}

@media only screen and (max-width: 980px) {
  html {
    min-width: 980px;
  }
  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    -webkit-transform: translate(-5%, -50%);
            transform: translate(-5%, -50%);
    z-index: 2;
    color: wheat;
    display: block;
  }
  .line {
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;
  }
  .site-nav {
    display: none;
  }
  .logo {
    width: 30vw;
  }
}

.site-info {
  background-image: url("/img/69805790_2586481701372538_8774886406435635200_o.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
}

.site-info__heading--hidden {
  display: none;
}

.site-info__list {
  height: 231px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 980px;
  margin: auto;
}

.site-info__item {
  font-size: 65px;
  color: #666;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-shadow: 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 4px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black;
}

.site-info__item span {
  font-size: 22px;
}

.site-service {
  height: 612px;
  background-color: #F5F5F5;
}

.site-service__content {
  width: 1140px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 70px 0 70px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.site-service__wrapper {
  width: 453px;
}

.site-service__heading {
  font-size: 42px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  color: #666;
}

.site-service__span {
  margin: 0 0 30px 0;
  font-weight: 300;
  font-size: 18px;
  display: block;
  font-family: 'Poppins', sans-serif;
  color: #666;
}

.site-service__description {
  font-family: 'Poppins', sans-serif;
  line-height: 1.8;
  font-size: 14px;
  color: #666;
  font-weight: 400;
  text-align: left;
  margin-bottom: 10px;
}

.site-service__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.site-service__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-service__item img {
  width: 65px;
  height: 50px;
  margin-right: 20px;
}

.site-service--link {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("/img/69805790_2586481701372538_8774886406435635200_o.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* Set a specific height */
  min-height: 300px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
}

.site-service--wrapper {
  width: 1140px;
  margin: auto;
}

.services {
  width: 617px;
}

.services__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services__item {
  width: 300px;
  height: 220px;
  background-color: white;
  margin-bottom: 17px;
  padding: 20px;
}

.services__content img {
  margin-bottom: 5px;
}

.services__content h3 {
  margin: 5px 0 10px 0;
  font-weight: 400;
  font-size: 18px;
  font-family: poppins;
  color: #666;
}

.services__content p {
  line-height: 1.5;
  font-size: 14px;
  color: #888;
  font-family: poppins;
}

.site-latestworks {
  background-color: white;
  width: 100%;
  height: 560px;
}

.site-latestworks__wrapper {
  width: 1140px;
  margin: auto;
  padding: 70px 0 70px 0;
}

@font-face {
  font-family: Eurostyle;
  src: url(/fonts/Eurostile-LT-Std-Demi-Oblique_16309.ttf);
}

.container {
  position: relative;
  width: 24px;
  height: 24px;
  position: absolute;
  bottom: 20%;
  -webkit-animation-name: fadein2;
          animation-name: fadein2;
  color: red;
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  -webkit-transform: scale3d(1, 0.5, 0.5);
          transform: scale3d(1, 0.5, 0.5);
  -webkit-animation: move 3s ease-out infinite;
          animation: move 3s ease-out infinite;
}

.chevron:first-child {
  -webkit-animation: move 3s ease-out 1s infinite;
          animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  -webkit-animation: move 3s ease-out 2s infinite;
          animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #000;
}

.chevron:before {
  left: 0;
  -webkit-transform: skew(0deg, 30deg);
          transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  -webkit-transform: skew(0deg, -30deg);
          transform: skew(0deg, -30deg);
}

@-webkit-keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  67% {
    opacity: 1;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
            transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  67% {
    opacity: 1;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
            transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.text {
  display: block;
  margin-top: 75px;
  margin-left: -30px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 12px;
  color: #000;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: .25;
  -webkit-animation: pulse 2s linear alternate infinite;
          animation: pulse 2s linear alternate infinite;
}

@-webkit-keyframes pulse {
  to {
    opacity: 1;
  }
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=index.css.map */